*{
  margin: 0;
  padding: 0;
}


.App{
  background-color: #8a2be2;
  text-align: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  width: 180px;
  height: 180px;
  margin: 20px;
  border-radius: 5px;
  box-shadow:  20px 20px 60px #612c92,
             -20px -20px 60px #c480ff;
  border: 2px solid rgba(0, 0, 0, 0.418);
  background-color: whitesmoke;
}
input{
  margin: 10px;
}
.btn{
  margin: 10px;
}
