.App{
  text-align: center;
  margin-top: 20px;
}

input{
  padding: 4px;
  margin-right: 3px;
}
.card{
  width: max-content;
  margin-top: 90px;
  padding: 30px;
  transition: 200ms;
  color: whitesmoke;
  background: linear-gradient(145deg, #0ea3d1, #82cff3);
}
.card:hover{
  transform: scale(1.1);
  transition: 200ms;
  margin-top: 100px;
}
.Details{
  transform: scale(1.4);
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Down{
  width: 200px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.Top{
  width: 270px;
  padding: 8px;
  border-radius: 10px 10px 0 0;
  color: whitesmoke;
  background: linear-gradient(145deg, #0ea3d1, #82cff3);
}
@media only screen and (max-width: 600px) {
  
  
  .Details{
    transform: scale(1.1);
  }
  .card{
    margin-top: 40px;
  }
  .card:hover{
    margin-top: 50px;
  }
}