body{
  text-align: center;
}
.navbar{
  background-color: #9AC4E5;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 20px;
}
a:hover{
  color: white;
}