*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1e5ea;
}


.line{
    border-left:2px solid black;
    height: 500px;
    position: absolute;
    left: 49%;
    top: 20%
}

.BOx_top{
    margin-top: 20px;
    border-top:2px solid rgb(31, 141, 231) ;
    border-right:2px solid rgb(31, 141, 231) ;
    border-left:2px solid rgb(31, 141, 231) ;
    width: 20vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
   
}

.BOX{
    background-color:  #ffffff;
    margin-top: 50px;
    border:3px solid rgb(31, 141, 231);
    /* border-image: linear-gradient(45deg, #ff0,#f0f);
    border-image-slice: 1; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 45vw;
    height: 90vh;
    border-radius: 20px;
}


.left{
    margin-top: 100px;
    padding: 20px;
    position: absolute;
    left: 0pt;
    width: 50%;
    height: 70vh;
}

.right{
    margin-top: 100px;
    padding: 20px;
    position: absolute;
    right: 0pt;
    border-left: 2px solid rgb(33, 136, 255);
    width: 50%;
    height: 70vh;
}